* {
    margin: 0PX;
    padding: 0PX;
    margin-block-end: 0px;
    margin-block-start: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #f6f6f6;
}
.bodyPage{
    width: 80%;
    margin: auto;
}
main h2{
    font-size: 45px;
    text-align: center;
    margin: 10px;
}
.container-contacto{
    display: flex;
}

.ciudades{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px;
}
.container-ciu{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.container-ciu h3{
    margin: 10px;
}
.container-ciu p{
    padding: 5px;
}
.direcciones{
    display: flex;
    flex-direction: row;
}

.contactos2{
    width: 50%;
    margin: 20px;
}
.contactos2 h3{
    font-size: 20px;
    margin-bottom: 10px ;
}

.formulario{
    margin: 15px;
}
.formulario input{
    width: 50%;
    margin-top: 10px;
    
}
.formulario textarea{
    width: 50%;
    height: 100px;
    margin-top: 10px;
}

button{
    display: block;
    font-size: 15px;
    padding: 15px 10px 15px 10px;
    width: 80px;
    border: 0px;
    border-bottom: 4px solid #d99221;
    background: #f3bc65;
    box-shadow: none;
}