* {
    margin: 0PX;
    padding: 0PX;
    margin-block-end: 0px;
    margin-block-start: 0px;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #f6f6f6;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
@font-face {
    font-family: "Source Sans Pro";
    src: url('../assets/font/SourceSansPro-Regular.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap');

/* begin header */

header>nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    color: #ffffff;
    z-index: 1;
    position: relative
}

header .logo {
    width: 10%;
}

header {
    background: url("../assets/img/part1.jpg") no-repeat;
    height: 650px;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
}

nav>ul>li {
    text-transform: uppercase;
    font-weight: 600;
    display: block;
}

.line {
    display: block;
    border-bottom: 2px solid #ffffff;
}

#frase {
    font-size: 20px;
    color: #ffffff;
    z-index: 1;
    position: relative;
    width: 40%;
}

#frase>h1 {
    display: inline-block;
    font-size: 80px;
    font-weight: 900;
    line-height: 80px;
    display: inline-block;
    margin: 70px 0px 40px 0px;
}

#part1-content {
    display: flex;
    justify-content: space-around;
}

#main-form {
    background-color: rgb(221, 221, 221, 0.6);
    z-index: 1;
    margin-top: 50px;
    padding: 30px;
    height: 450px;
}

select {
    display: block;
    background: rgb(255, 255, 255);
    font-size: 17px;
    height: 40px;
    padding: 5px;
    width: 300px;
    margin-bottom: 30px;
}

select:focus,
input:focus,
#main-form>form>button {
    outline: none;
}

.label-main-form {
    color: #ffffff;
    font-size: 17px;
}

.range {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.imput-main-form {
    width: 100px;
    height: 18px;
    font-size: 17px;
    padding: 5px;
}

#main-form>form>button {
    display: block;
    width: 300px;
    margin: 0px auto;
    padding: 10px;
    border: 0px;
    border-bottom: 4px solid #d99221;
    background: #f3bc65;
    box-shadow: none;
}

#main-form>form>button:hover {
    cursor: pointer;
}


/* end header */


/* begin bienes raices */

#bienes-raices>h2 {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding-top: 50px;
    margin-bottom: 12px;
}

#bienes-raices>span {
    display: flex;
    font-size: 20px;
    justify-content: center;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 60px;
}

.card {
    width: 400px;
    margin-bottom: 40px;
    background: #ffffff;
}

.card-img {
    position: relative;
    height: auto;
    width: 100%;
}

.card-img>span {
    position: absolute;
    top: 18px;
    right: -8px;
    padding: 6px 15px;
    background: #0ba;
}

.card-img>span::after {
    position: absolute;
    right: 0;
    bottom: -5px;
    border-top: 5px solid #00887c;
    width: 5px;
    content: " ";
    display: block;
    border-right: 5px solid #f6f6f6;
}

.card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.card-title,
.card-ubicacion,
.precio {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 2px 0px 15px 0px;
}

.card-title {
    font-weight: 600;
}

.card-line {
    display: block;
    margin-right: 20px;
    border-bottom: 1px solid black;
}

.precio {
    font-size: 25px;
    margin-top: 10px;
    color: #0ba;
    font-weight: 600;
}































































/* Estilos de propiedad*/
a{
    text-decoration: none;
}
#propiedades{
    background: #F6F6F6;
}

.submenu{
    width: 100%;
    height: 50px;
    background:  #0ba;
    margin: 30px;
}
.submenu ul li strong{
    padding: 5px;
    font-size: 15px;
}
.submenu ul{
    display: flex;
    
}
.submenu ul li{
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: row;
    
}
.submenu select{
    width: 200px;
    height: 30px;
    display: inline-block;
    background: #0ba;
    color: #ffffff;
    border-color: #ffffff;
}
.submenu .pagina select{
    width: 80px;
}
.submenu ul li img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 7px;
}
.submenu ul li img:hover{
    cursor: pointer;
    padding: 3px;
    
    
}
.Container-propiedades{
    display: flex;
    margin: 120px;
}
.Container-propiedades .main-form{
    color: #2C3E50;
}
.Container-propiedades .container-card{
    width: 75%;
    margin: 20px;
}
.Container-propiedades .search{
    width: 25%;
}
.Container-propiedades .search h2{
    font-size: 45px;
    margin-bottom:10px ;
}
.Container-propiedades .container-card h2{
    font-size: 40px;
    float: left;

}
.search #main-form{
    background-color: #ffffff;
    border: 1px solid #dadadd;
}
.search #main-form{
    margin-top: 10px;
    height: 530px;
}
.search #main-form select{
    width: 97%;
}

.search .imput-main-form{
    width: 40%;
}
.search .label-main-form{
    color: #000000;
}
.search #main-form button{
    width: 100px;
    float: right;
}



.Container-propiedades .container-card .card{
    width: 270px
}
/* end bienes raices */


/* begin finanzas */

#nuestra-mision {
    display: flex;
    width: 100%;
    background: #ffffff;
}

#image-mision {
    width: 100%;
    position: relative;
    height: auto;
}

#image-mision>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

#info {
    width: 100%;
    padding: 30px;
}

#mision {
    display: flex;
    flex-direction: column;
}

#mision>h2 {
    font-size: 40px;
    color: #0ba;
    margin-bottom: 20px;
}

#mision>p {
    font-size: 14px;
    text-align: justify;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

#ahorra-dinero,
#marketing,
#comodidad,
#facil-de-encontrar {
    display: block;
    width: 45%;
    padding: 10px;
}

#ahorra-dinero>img,
#marketing>img,
#comodidad>img,
#facil-de-encontrar>img {
    width: 50px;
    padding-top: 15px;
}

#ahorra-dinero>h3,
#marketing>h3,
#comodidad>h3,
#facil-de-encontrar>h3 {
    color: #0ba;
    font-size: 20px;
    padding-bottom: 10px;
}


/* end finanzas */


/* begin asesores */

#nuestros-agentes {
    display: flex;
    flex-direction: column;
}

#agents-letter h2 {
    padding: 100px 0px 20px;
    display: flex;
    justify-content: center;
    font-size: 40px;
}

#agents-letter p {
    font-family: inherit;
    font-size: 14px;
    padding: 0px 80px 0px 80px;
}

.card-agents {
    justify-content: space-around;
    width: 250px;
    position: relative;
}

.card-agents-header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.card-agents-body {
    background: #ffff;
    display: flex;
    flex-direction: column;
}

.card-agents-body>h3,
.card-agents-body>p {
    display: flex;
    margin: 15px 0px 15px 0px;
    justify-content: center;
}


/* end asesores */


/* begin footer */

footer {
    margin-top: 50px;
    background: url('../assets/img/edificios.jpg');
    position: relative;
    display: flex;
    height: 500px;
    padding: 50px;
    justify-content: space-around;
}

footer::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}

.footer-column1,
.footer-column2,
.footer-column3 {
    position: relative;
    z-index: 1;
    color: #bebebe;
    width: 33%;
}

.footer-column1 h2,
.footer-column2 h2,
.footer-column3 h2 {
    font-size: 34px;
    color: #0ba;
    margin: 25px 0px 25px 0px;
}

.footer-wrap {
    display: flex;
}

.footer-column1>ul>li {
    margin-left: 8px;
    list-style: none;
    font-size: 18px;
    line-height: 30px;
}

.footer-column1>ul>li>a {
    cursor: pointer;
}

.icon {
    font-size: 20px;
    margin-right: 15px;
    color: #0ba;
}

.icon:hover {
    color: orange;
    cursor: pointer;
}

.footer-column2 {
    margin-right: 4em;
}

.footer-column3 span {
    width: 50%;
}

.footer-wrap>span>a {
    text-decoration: none;
    color: #bebebe;
}

.footer-wrap>span>a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.footer-column3 input {
    padding: 5px;
    background: transparent;
    border: 1px solid #bebebe;
    color: #fff;
    margin-bottom: 20px;
}

.footer-column3 textarea {
    padding: 5px;
    background: transparent;
    border: 1px solid #bebebe;
    color: #fff;
    margin-bottom: 20px;
}

.footer-column3 textarea:focus,
.footer-column3 input:focus {
    -webkit-box-shadow: 1px 1px 1px 1px #0ba;
    -moz-box-shadow: 1px 1px 1px 1px #0ba;
    box-shadow: 1px 1px 20px 1px #0ba;
}

.footer-column3 button {
    display: block;
    padding: 15px 10px 15px 10px;
    width: 80px;
    border: 0px;
    border-bottom: 4px solid #d99221;
    background: #f3bc65;
    box-shadow: none;
}

.footer-column3 button:hover {
    cursor: pointer;
}


/* #footer-name {
    justify-content: flex-start;
}

#footer-email {
    justify-content: flex-end;
} */


/* end footer */
